.header-subtitle{
	font-size:20px;
	color: #ffffff;
	text-shadow: -1px -1px 0 #5E83AB, 1px -1px 0 #5E83AB, -1px 1px 0 #5E83AB, 1px 1px 0 #5E83AB;
	font-style: normal;
}

table th { font-weight: bold; }

table th, table td { border: 1px solid #ccc; padding: 6px 13px; }

table tr { border-top: 1px solid #ccc; background-color: #fff; }

table tr:nth-child(2n) { background-color: #f8f8f8; }